// Main Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;

// Colors
$card-white: #fffbf6;
$cream-bg: #f8e9dd;
$medium-brown: #92857a;
$dark-brown: #382314;
$cyan: #76b5bc;
$red: #ec755d;
