@use "./../01-abstracts/" as a;
@use "./../02-base/typography" as t;

.component {
  &__header {
    background-color: a.$red;
    border-radius: 10px;
    color: white;
    padding: 20px 24px 22px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include a.max;
    margin-bottom: 16px;
  }

  &__logo {
    max-width: 60px;
  }

  &__balance {
    margin-bottom: 4px;
    @include t.mini-caption;

    @include a.breakpoint(a.$md) {
      @include t.body;
    }

    &-num {
      font-size: a.rem(24px);
      line-height: a.rem(31px);
      font-weight: 700;
      @include a.breakpoint(a.$md) {
        @include t.heading-l;
      }
    }
  }

  &__main {
    padding: 24px 20px;
    background-color: a.$card-white;
    border-radius: 10px;
    @include a.max;
  }

  &__title {
    @include t.heading-l;
    margin-bottom: 52px;
  }

  /* Temporary */
  &__graph {
    width: 100%;
    height: 177px;
    margin-bottom: 24px;
    background-color: a.$cream-bg;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    @include t.mini-caption;

    @include a.breakpoint(a.$md) {
      @include t.body;
    }

    &::before {
      content: "";
      display: block;
      flex-basis: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: a.$cream-bg;
      margin-bottom: 24px;
    }

    &-right {
      display: flex;
      flex-direction: column-reverse;
      text-align: right;
    }
  }

  &__total,
  &__last {
    color: a.$medium-brown;

    &-num {
      font-weight: bold;
    }
  }

  &__total {
    margin-bottom: 4px;

    &-num {
      font-size: a.rem(30px);
      line-height: a.rem(39px);
      @include a.breakpoint(a.$md) {
        @include t.heading-xl;
      }
    }
  }
}
